@import url(https://fonts.googleapis.com/css?family=Merriweather);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Merriweather, Georgia, serif;
  font-size: 62.5%;
}
body {
  color: hsl(0, 0%, 10%);
  background-color: hsl(0, 2%, 49%);

  max-width: auto;
  margin: 0 auto;
  padding: 5px 20px;
  bottom: 0;
  top: 0;
}
.point {
  width: auto;
  text-align: right;
  position: fixed;
  top: 5%;
  right: 3%;
  .remaining,
  .mistakes {
    margin-top: 15px;
    display: inline-block;
    padding: 5px;
    height: auto;
    background-color: aqua;
    width: 110px;
    text-align: center;
    font-size: 15px;
    align-items: center;
  }
  .reload {
    cursor: pointer;
    margin-top: 15px;
    display: inline-block;
    padding: 5px;
    height: auto;
    background-color: rgb(131, 127, 126);
    width: 110px;
    text-align: center;
    font-size: 15px;
    align-items: center;
  }
  .reload:hover {
    background-color: rgb(13, 147, 224);
  }
}

.hexagon {
  position: relative;
  display: inline-block;
  // visibility: visible;
  margin: 1px 7px;
  background-color: hsl(46, 100%, 46%);
  text-align: center;
}
.hexagon,
.hexagon::before,
.hexagon::after {
  /* easy way: height is width * 1.732*/
  width: 25px;
  height: 43.3px;
  border-radius: 20%/5%;
}
.hexagon::before {
  background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
  transform: rotate(-60deg);
}
.hexagon::after {
  background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
  transform: rotate(60deg);
}
.hexagon:nth-child(even) {
  top: 22.5px;
}
.hexagon:hover {
  background-color: rgb(214, 208, 208);
  cursor: pointer;
  z-index: 105;
}
.hexagon:active {
  z-index: 110;
}
.honeycomb {
  width: 1420px;
  margin: 0 auto;
  text-align: center;

  .ibws-fix {
    font-size: 0;
    margin-bottom: 50px;
    .hexagontent {
      pointer-events: none;
      visibility: hidden;
      color: hsl(0, 0%, 95%);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.4rem;
      line-height: 1.2;
      z-index: 110;
    }
    .hexanone {
      visibility: hidden !important;
      .hexagontent {
        visibility: visible;
        color: black;
        position: absolute;
        top: 60%;
        font-weight: 1000;
        left: 50%;
        transform: translate(-50%, 10%);
        width: 140%;
        font-size: 1.4rem;
        line-height: 1.2;
        z-index: 110;
      }
    }
    .black_node {
      background-color: black !important;
      .hexagontent {
        visibility: visible !important;
        color: white !important;
      }
    }
    .blue_node {
      background-color: rgb(0, 116, 170) !important;
      .hexagontent {
        visibility: visible !important;
        color: white !important;
      }
    }
  }
}

// effect buzz
.buzz {
  animation-name: buzz-pro;
  animation-duration: 1.25s;
}
@keyframes buzz-pro {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}
.df-num {
  pointer-events: all !important;
  position: absolute;
  transform: translate(-50%, 0%) !important;
}
.df-num-left {
  pointer-events: all !important;
  position: absolute;
  transform: translate(-10%, -50%) rotate(-60deg) !important;
}
.df-num-right {
  pointer-events: all !important;
  position: absolute;
  transform: translate(-80%, -40%) rotate(60deg) !important;
}

// table
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}
th,
td {
  text-align: center;
  padding: 5px;
}
tr:nth-child(even) {
  background-color: #ddd;
}
.inputClass {
  text-align: center;
}
// form
.inputHex {
  width: 150px;
  margin-inline: 5px;
  margin-bottom: 5px;
}
ul {
  line-height: 22px;
  font-size: 12px;
  text-align: left;
  color: white;
  li {
    list-style-type: none;
  }
}
